body {
    margin: 0;
    height: 100vh;
    font-family: 'Lato', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
}

form {
    background-color: #66a6ff;
    width: 30vw;
    height: 300px;
    border-radius: 12px;
    display: flex;
    align-items: center;
    padding-inline: 5%;
    justify-content: center;
    box-shadow: -8px 8px 56px 8px #cccccc;
    position: absolute;
    right: 5vw;
    top:30vh;
}

.card__content {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 80%;
}

.card__last_row {
    display: flex;
    align-items: flex-end;
}

form input {
    background-color: rgba(255,255,255, 0.3);
    border: none;
    border-radius: 6px;
    height: 40px;
    margin-top: 10px;
}

.card__name , .card__number {
    display: flex;
    flex-direction: column;
    color: white;
}

.card__date {
    color: white;
     input {
        width: 40%;
     }
     input::placeholder {
        color: white;
        padding: 10px;
      }
    }


.cvc {
    color: white;
    display: flex;
    flex-direction: column;
}

.wholepage {
    display: flex;
    justify-content: left;
    padding-left: 5vw;
    padding-top: 10vh;
    border: 0px solid #cccccc;
    width: 50vw;
    height: 80vh;
    border-radius: 6px;
    box-shadow: 0px 0px 40px 2px #eeeeee;
}

.detail {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.detail h1 {
    color: #cccccc;
}

.detail h2, h3 {
    color: #66a6ff;
}

.detail__price {
    text-align: center;
}

.detail__content__product {
    display: flex;
    justify-content: space-between;
    width: 20vw;
    align-items: flex-end;
}

button {
    background-color: white;
    border: 1px solid #66a6ff;
    padding-block: 10px;
    padding-inline: 20px;
    border-radius: 50px;
    color: #66a6ff;
    margin-top: 50px;
    width: 50%;
    font-weight: bold;
}

